.App {
  text-align: center;
}

.header {
  background-color: #f0f2f5 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 10;
}

.content {
  background: white;
  padding: 30px 50px 70px 30px;
  margin: 70px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search {
  max-width: 280px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 10;
}
